<div *ngIf="isOwner">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a [routerLink]="['/']" class="navbar-brand" href="#">Dogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a routerLinkActive="active" class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a routerLinkActive="active" [routerLink] ="['/about'] "class="nav-item nav-link" href="#" (click)="clicked(item)">Sobre</a>
        </div>
        </div>
    </nav>
</div>
